<!--navigation bar and search bar-->
<app-navigation-bar></app-navigation-bar>
<!--the main picture and page title-->
<div class="header">
    <img src="assets/Photos/Logo.png" class="main_pic" aria-label="background photo of spoons with spices">

</div>
<!--recipes listed -->
<h2>Our recipes</h2>
<div class="recipe-block">
    <div class="recipe-card">
        <app-recipe-window></app-recipe-window>
    </div>
</div>
<div>
    <p class="footer">The recipes have been taken from the internet for the purpose of demonstration of the app capabilities.</p>
</div>
