<h2 mat-dialog-title style="color: #088f04; font-size: larger; font-family: 'Poppins SemiBold'">{{ title }}</h2> <!-- Dialog title -->

<div class="table">
    <form class="editing" [formGroup]="editForm"> <!-- Form group binding for editing recipe -->
        <table>
            <tr>
                <td>Title</td>
                <td>
                    <!-- Title input field -->
                    <textarea id="title" type="text" formControlName="title" placeholder="{{title}}"></textarea>
                </td>
            </tr>
            <tr>
                <td>Ingredients</td>
                <td>
                    <!-- Ingredients input field -->
                    <textarea id="ingredient" type="text" formControlName="ingredient" placeholder="{{ing}}"></textarea>
                </td>
            </tr>
            <tr>
                <td>Methods</td>
                <td>
                    <!-- Methods input field -->
                    <textarea id="method" type="text" formControlName="method" placeholder="{{method}}"></textarea>
                </td>
            </tr>
            <tr>
                <td>Image</td>
                <td>
                    <!-- Image URL input field -->
                    <textarea id="photoUrl" type="text" formControlName="photoUrl" placeholder="{{photoUrl}}"></textarea>
                </td>
            </tr>
            <tr>
                <td>Cuisine</td>
                <td>
                    <!-- Cuisine dropdown -->
                    <select id="cuisine" formControlName="cuisine">
                        <option value="Cocktail">Cocktail</option>
                        <option value="Breakfast">Breakfast</option>
                        <option value="Healthy">Healthy</option>
                        <option value="Asian">Asian</option>
                        <option value="Dinner">Dinner</option>
                        <option value="Dessert">Dessert</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Difficulty</td>
                <td>
                    <!-- Difficulty dropdown -->
                    <select id="difficulty" formControlName="difficulty">
                        <option value="Basic">Basic</option>
                        <option value="Easy">Easy</option>
                        <option value="Intermediate">Intermediate</option>
                        <option value="Difficult">Difficult</option>
                    </select>
                </td>
            </tr>
        </table>
        <div class="buttons">
            <!-- Save button -->
            <button (click)="editRecipe()" mat-button class="save">Save</button>
            <!-- Cancel button -->
            <button mat-button mat-dialog-close class="cancel">Cancel</button>
        </div>
    </form>
</div>

<!-- Need a form with buttons to add extra ingredients and extra methods -->
