h1, p  {
  font-family: "Ink Free";
}
p {
  font-size: larger;
  }
.background{
  background-image: linear-gradient(lavenderblush, lavender );
  height: 100vh;
  width: 100vw;
  background-size: cover;

}

