<h2 mat-dialog-title style="color: #088f04; font-size: larger; font-family: 'Poppins SemiBold'">Add new recipe</h2> <!-- Dialog title -->
<div class="table">
    <form class__editing [formGroup]="addForm"> <!-- Form group binding -->
        <table>
            <tr>
                <td>Title</td>
                <td>
                    <!-- Title input field -->
                    <textarea id="title" type="text" formControlName="title" placeholder="Provide your title"></textarea>
                </td>
            </tr>
            <tr>
                <td>Ingredients</td>
                <td>
                    <!-- Ingredients input field -->
                    <textarea id="ingredient" type="text" formControlName="ingredient" placeholder="Provide ingredients"></textarea>
                </td>
            </tr>
            <tr>
                <td>Methods</td>
                <td>
                    <!-- Methods input field -->
                    <textarea id="method" type="text" formControlName="method" placeholder="Provide methods"></textarea>
                </td>
            </tr>
            <tr>
                <td>Image</td>
                <td>
                    <!-- Photo URL input field -->
                    <textarea id="photoUrl" type="text" formControlName="photoUrl" placeholder="Provide link to photo"></textarea>
                </td>
            </tr>
            <tr>
                <td>Cuisine</td>
                <td>
                    <!-- Cuisine dropdown -->
                    <select id="cuisine" formControlName="cuisine">
                        <option value="Cocktail">Cocktail</option>
                        <option value="Breakfast">Breakfast</option>
                        <option value="Healthy">Healthy</option>
                        <option value="Asian">Asian</option>
                        <option value="Dinner">Dinner</option>
                        <option value="Dessert">Dessert</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>Difficulty</td>
                <td>
                    <!-- Difficulty dropdown -->
                    <select id="difficulty" formControlName="difficulty">
                        <option value="Basic">Basic</option>
                        <option value="Easy">Easy</option>
                        <option value="Intermediate">Intermediate</option>
                        <option value="Difficult">Difficult</option>
                    </select>
                </td>
            </tr>
        </table>
        <div class="buttons">
            <!-- Submit button -->
            <button (click)="addRecipe()" mat-button class="save">Submit</button>
            <!-- Cancel button -->
            <button mat-button mat-dialog-close class="cancel">Cancel</button>
        </div>
    </form>
</div>
