.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  grid-template-rows: repeat(3, 100px);
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #e0e0e0;
  font-size: 2em;
  cursor: pointer;
  font-family: sans-serif;
  background-color: lavender;
  margin: 2px;
}

.player-selection {
  text-align: center;
  margin-bottom: 20px;
}

.player-selection button {
  margin: 0 10px;
  padding: 10px 20px;
  font-size: 1.5em;
  border: 1px solid #e0e0e0;
  background-color: lavenderblush;
  font-family: sans-serif;
}

.reset-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  border: 1px solid #e0e0e0;
  background-color: honeydew;
}

p {
  font-family: sans-serif;
  font-size: large;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
}