<app-navigation-bar></app-navigation-bar> <!-- Navigation bar component -->
<div class="background"> <!-- Background container -->
    <div class="display"> <!-- Display container -->
        <div class="display-list"> <!-- Display list container -->
            <h2>Your favourite recipes</h2> <!-- Title of the list -->
            <table>
                <tr> <!-- Table header row -->
                    <th></th> <!-- Empty header cell for recipe photo -->
                    <th (click)="sortByTitle()" class="clickable">Recipe title <!-- Sort by title header cell -->
                        <span [ngStyle]="{'color': isSortedAlphabetically ? '#16d3f5' : 'darkgrey'}">&#11165;</span> <!-- Up arrow for sorting indicator -->
                        <span [ngStyle]="{'color': !isSortedAlphabetically ? '#16d3f5' : 'darkgrey'}">&#11167;</span> <!-- Down arrow for sorting indicator -->
                    </th>
                    <th (click)="sortByType()" class="clickable">Recipe type <!-- Sort by type header cell -->
                        <span [ngStyle]="{'color': isSortedByType ? '#16d3f5' : 'darkgrey'}">&#11165;</span> <!-- Up arrow for sorting indicator -->
                        <span [ngStyle]="{'color': !isSortedByType ? '#16d3f5' : 'darkgrey'}">&#11167;</span> <!-- Down arrow for sorting indicator -->
                    </th>
                    <th (click)="sortByDifficulty()" class="clickable">Difficulty <!-- Sort by difficulty header cell -->
                        <span [ngStyle]="{'color': isSortedByDifficulty ? '#16d3f5' : 'darkgrey'}">&#11165;</span> <!-- Up arrow for sorting indicator -->
                        <span [ngStyle]="{'color': !isSortedByDifficulty ? '#16d3f5' : 'darkgrey'}">&#11167;</span> <!-- Down arrow for sorting indicator -->
                    </th>
                    <th></th> <!-- Empty header cell for actions -->
                </tr>
                <tr *ngFor="let recipe of favouriteRecipes"> <!-- Table data row for each recipe -->
                    <td (click)="onSelect(recipe)" class="clickable">
                        <div class="recipe_photo"><img [src]="recipe.photoUrl" alt="photo of a dish"></div> <!-- Recipe photo -->
                    </td>
                    <td (click)="onSelect(recipe)" class="clickable">{{ recipe.title }}</td> <!-- Recipe title -->
                    <td (click)="onSelect(recipe)" class="clickable">{{ recipe.cuisine }}</td> <!-- Recipe cuisine -->
                    <td (click)="onSelect(recipe)" class="clickable">{{ recipe.difficulty }}</td> <!-- Recipe difficulty -->
                    <td>
                        <div class="icons"> <!-- Icons container -->
                            <div class="annotation"> <!-- Annotation container for dislike icon -->
                                <img class="dislike-image" src="assets/Photos/cancel.png" (click)="remove(recipe)"> <!-- Dislike icon -->
                                <div class="note">
                                    <p>Remove recipe from favourites</p> <!-- Tooltip for removing recipe -->
                                </div>
                            </div>
                            <div class="annotation" *ngIf="this.activeUser.role==='ADMIN'"> <!-- Annotation container for edit icon -->
                                <img class="edit-image" src="assets/Photos/edit.png" (click)="editRecipe(recipe)"> <!-- Edit icon -->
                                <div class="note">
                                    <p>Edit recipe</p> <!-- Tooltip for editing recipe -->
                                </div>
                            </div>
                            <div class="annotation" *ngIf="this.activeUser.role==='ADMIN'"> <!-- Annotation container for delete icon -->
                                <img class="delete-image" src="assets/Photos/garbage-bin.png" (click)="deleteRecipe(recipe)"> <!-- Delete icon -->
                                <div class="note">
                                    <p>Delete recipe</p> <!-- Tooltip for deleting recipe -->
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
