<div class="wrap">
<h1>Science quiz</h1>
<h6>What is the name of the element with the chemical symbol ‘He’?</h6>
<input type="radio" id="1a" (click)="right()"><label for="1a">Helium</label>
<br><input type="radio" id="1b" (click)="nahh()"><label for="1b">Hydrogen</label>
<br><input type="radio" id="1c" (click)="nahh()"><label for="1c">Holmium</label>
<br><input type="radio" id="1d" (click)="nahh()"><label for="1d">Hafnium</label>

<h6>Which one of the following is the largest ocean in the world?</h6>
<input type="radio" id="2a" (click)="nahh()"><label for="2a">Atlantic Ocean</label>
<br><input type="radio" id="2b" (click)="right()"><label for="2b">Pacific Ocean</label>
<br><input type="radio" id="2c" (click)="nahh()"><label for="2c">Arctic Ocean</label>
<br><input type="radio" id="2d" (click)="nahh()"><label for="2d">Indian Ocean</label>

<h6>Which star is the brightest star in the night sky?</h6>
<input type="radio" id="3a" (click)="nahh()"><label for="3a">Arcturus</label>
<br><br><input type="radio" id="3c" (click)="nahh()"><label for="3c">North Star</label>
<br><input type="radio" id="3d" (click)="right()"><label for="3d">Sirius A</label>

<h6>Sodium Hydrogen Bicarbonate is a scientific name of which common thing?</h6>
<input type="radio" id="4a" (click)="nahh()"><label for="4a">Carbonated Water</label>
<br><input type="radio" id="4b" (click)="nahh()"><label for="4b">Cream or Tartar</label>
<br><input type="radio" id="4c" (click)="right()"><label for="4c">Baking Soda</label>
<br><input type="radio" id="4d" (click)="nahh()"><label for="4d">Salt</label>

<h6>Name the bird in the following which has the largest wingspan?</h6>
<input type="radio" id="5a" (click)="right()"><label for="5a">Albatross bird</label>
<br><input type="radio" id="5b" (click)="nahh()"><label for="5b">Dalmatian Pelican</label>
<br><input type="radio" id="5c" (click)="nahh()"><label for="5c">Emu</label>
<br><input type="radio" id="5d" (click)="nahh()"><label for="5d">Emperor Penguin</label>

<h6>Which of the following is NOT scientifically considered a fruit?</h6>
<input type="radio" id="6a" (click)="nahh()"><label for="6a">Tomato</label>
<br><input type="radio" id="6b" (click)="right()"><label for="6b">Broccoli</label>
<br><input type="radio" id="6c" (click)="nahh()"><label for="6c">Pumpkin</label>
<br><input type="radio" id="6d"  (click)="nahh()"><label for="6d">Pear</label>

<h6>All species of lemurs are native to which island country?</h6>
<input type="radio" id="7a" (click)="nahh()"><label for="7a">Australia</label>
<br><input type="radio" id="7b" (click)="nahh()"><label for="7b">Indonesia</label>
<br><input type="radio" id="7c" (click)="right()"><label for="7c">Madagascar</label>
<br><input type="radio" id="7d" (click)="nahh()"><label for="7d">Sri Lanka</label>

<h6>A lobster’s teeth are located in which part of its body?</h6>
<input type="radio" id="8a" (click)="nahh()"><label for="8a">Claws</label>
<br><input type="radio" id="8b" (click)="nahh()"><label for="8b">Legs</label>
<br><input type="radio" id="8c" (click)="nahh()"><label for="8c">Mouth</label>
<br><input type="radio" id="8d" (click)="right()"><label for="8d">Stomach</label>

<h6>A “lepidopterist” is someone who studies which type of creature?</h6>
<input type="radio" id="9a" (click)="nahh()"><label for="9a">Ants</label>
<br><input type="radio" id="9b" (click)="nahh()"><label for="9b">Birds</label>
<br><input type="radio" id="9c" (click)="right()"><label for="9c">Butterflies</label>
<br><input type="radio" id="9d" (click)="nahh()"><label for="9d">Fish</label>

<h6>How is the Earth protected from the effects of Solar Winds from the Sun?</h6>
<input type="radio" id="10a" (click)="nahh()"><label for="10a">Gravity</label>
<br><input type="radio" id="10b"  (click)="right()"><label for="10b">Magnetic field</label>
<br><input type="radio" id="10c" (click)="nahh()"><label for="10c">Oxygen</label>
<br><input type="radio" id="10d" (click)="nahh()"><label for="10d">None of these</label>
<br>
<button (click)="submitButton()">Submit</button>
<p>Result is: {{message}}</p>
</div>
