h1{
  font-family: "Poppins Medium";
}
h6 {
  font-family: "Poppins Medium";
  font-size: larger;
}
label {
  font-family: "Poppins Medium"
}

input {
  accent-color: hotpink;
  margin-bottom: 30px;
}
.wrap{
  margin-left: 20px;
}
button {
  background-color: deepskyblue;
  border: deepskyblue;
  border-radius: 10px;
  box-shadow: .5px .5px 5px grey ;
  color: white;
  font-family: "Poppins SemiBold"
}
p {
  color: blueviolet;
  font-family: "Poppins Medium";
  font-size: larger;
}
