<div class="wrap">
    <div class="recipe-card">
        <div class="filter">
            <span>Filter</span>
            <div class="dropdown-content">
                <h4>Difficulty</h4>

                <input name="filter"
                       type="radio"
                       value="basic"
                       (change)="filter('basic')"/>
                <label>Basic</label><br/>

                <input name="filter"
                       type="radio"
                       value="easy"
                       (change)="filter('easy')"/>
                <label>Easy</label><br/>

                <input name="filter"
                       type="radio"
                       value="intermediate"
                       (change)="filter('intermediate')"/>
                <label>Intermediate</label><br/>

                <input name="filter"
                       type="radio"
                       value="difficult"
                       (change)="filter('difficult')"/>
                <label>Difficult</label><br/>


                <h4>Recipe type</h4>

                <input name="filter"
                       type="radio"
                       value="cocktail"
                       (change)="filter('cocktail')"/>
                <label>Cocktail</label><br/>

                <input name="filter"
                       type="radio"
                       value="breakfast"
                       (change)="filter('breakfast')"/>
                <label>Breakfast</label><br/>

                <input name="filter"
                       type="radio"
                       value="healthy"
                       (change)="filter('healthy')"/>
                <label>Healthy</label><br/>

                <input name="filter"
                       type="radio"
                       value="asian"
                       (change)="filter('asian')"/>
                <label>Asian</label><br/>

                <input name="filter"
                       type="radio"
                       value="dinner"
                       (change)="filter('dinner')"/>
                <label>Dinner</label><br/>

                <input name="filter"
                       type="radio"
                       value="dessert"
                       (change)="filter('dessert')"/>
                <label>Dessert</label><br/>
                <button class="clear" (click)="clear()">Clear</button>
            </div>
        </div>
        <table>
            <tr>
                <th>
                </th>
                <th (click)="sortByTitle()" class="clickable">Recipe title
                    <span [ngStyle]="{'color': isSortedAlphabetically ? '#16d3f5' : 'darkgrey'}">&#11165;</span>
                    <span [ngStyle]="{'color': !isSortedAlphabetically ? '#16d3f5' : 'darkgrey'}">&#11167;</span>
                </th>
                <th (click)="sortByType()" class="clickable">Recipe type
                    <span [ngStyle]="{'color': isSortedByType ? '#16d3f5' : 'darkgrey'}">&#11165;</span>
                    <span [ngStyle]="{'color': !isSortedByType ? '#16d3f5' : 'darkgrey'}">&#11167;</span>
                </th>
                <th (click)="sortByDifficulty()" class="clickable">Difficulty
                    <span [ngStyle]="{'color': isSortedByDifficulty ? '#16d3f5' : 'darkgrey'}">&#11165;</span>
                    <span [ngStyle]="{'color': !isSortedByDifficulty ? '#16d3f5' : 'darkgrey'}">&#11167;</span>
                </th>
                <th>

                </th>
            </tr>

            <tr *ngFor="let recipe of allRecipes"> <!-- table data row -->
                <td (click)="onSelect(recipe)" class="clickable">
                    <div class="recipe_photo"><img [src]="recipe.photoUrl" alt="photo of the dish"></div>
                </td>
                <td (click)="onSelect(recipe)" class="clickable">{{ recipe.title }}</td>
                <td (click)="onSelect(recipe)" class="clickable">{{ recipe.cuisine }}</td>
                <td (click)="onSelect(recipe)" class="clickable">{{ recipe.difficulty }}</td>
                <td>
                    <div class="icons">
                        <!--        <button class="heart-button" (click)="addToFavourites()" ) onclick="this.classList.toggle('active')"></button>-->
                        <div class="annotation">
                            <label class="heart-checkbox">
                                <input type="checkbox" hidden [checked]="favouriteRecipeCheck(recipe.recipeId)"
                                       (change)="onCheckboxChange($event, recipe.recipeId)">
                                <span>&#x2764;</span> <!-- Unicode heart symbol -->
                            </label>
                            <div class="note">
                                <p>Add recipe to favourites</p>
                            </div>
                        </div>

                        <div class="annotation">
                            <img class="edit-image" src="assets/Photos/edit.png" *ngIf="this.activeUser.role==='ADMIN'"
                                 (click)="editRecipe(recipe)">
                            <div class="note">
                                <p>Edit recipe</p>
                            </div>
                        </div>

                        <div class="annotation">
                            <img class="delete-image" src="assets/Photos/garbage-bin.png"
                                 *ngIf="this.activeUser.role==='ADMIN'" (click)="deleteRecipe(recipe)">
                            <div class="note">
                                <p>Delete recipe</p>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>
</div>
