<h2 mat-dialog-title style="color: #088f04; font-size: larger; font-family: 'Poppins SemiBold'">Add new recipe</h2>
<div class="table">

    <form class__editing [formGroup]="addForm">

        <table>
            <tr>
                <td>Title</td>
                <td>
                    <textarea id="title" type="text" formControlName="title"
                              placeholder="Provide your title"></textarea>
                </td>
            </tr>


            <tr>
                <td>Ingredients</td>
                <td>
                    <textarea id="ingredient" type="text" formControlName="ingredient"
                              placeholder="Provide ingredients"></textarea>
                </td>
            </tr>

            <tr>
                <td>Methods</td>
                <td>
                    <textarea id="method" type="text" formControlName="method" placeholder="Provide methods"></textarea>
                </td>
            </tr>
            <tr>
                <td>Image</td>
                <td>
                    <textarea id="photoUrl" type="text" formControlName="photoUrl"
                              placeholder="Provide link to photo"></textarea>
                </td>
            </tr>

            <tr>
                <td>Cuisine</td>
                <td>
                    <!--          <textarea id="cuisine" type="text" formControlName="cuisine" placeholder="Provide type of recipe"></textarea>-->
                    <select id="cuisine" formControlName="cuisine">
                        <option value="Cocktail">Cocktail</option>
                        <option value="Breakfast">Breakfast</option>
                        <option value="Healthy">Healthy</option>
                        <option value="Asian">Asian</option>
                        <option value="Dinner">Dinner</option>
                        <option value="Dessert">Dessert</option>
                    </select>
                </td>
            </tr>

            <tr>
                <td>Difficulty</td>
                <td>
                    <!--          <textarea id="difficulty" type="text" formControlName="difficulty" placeholder="Provide difficulty of the recipe"></textarea>-->
                    <select id="difficulty" formControlName="difficulty">
                        <option value="Basic">Basic</option>
                        <option value="Easy">Easy</option>
                        <option value="Intermediate">Intermediate</option>
                        <option value="Difficult">Difficult</option>
                    </select>
                </td>
            </tr>

        </table>
        <div class="buttons">
            <button (click)="addRecipe()" mat-button class="save">Submit</button>
            <button mat-button mat-dialog-close class="cancel">Cancel</button>
        </div>
    </form>


</div>






