.background{
  background-color: grey;
  padding: 20px;
}
.need-gap{
  margin-left: 20px;

}
h1 {
  font-family: Bahnschrift;
  color: aliceblue;
  }

p{
  font-family: "Ink Free";
  }
.rules{
  color: aliceblue;
}

.roll-button {

  background-color: lavender;
  border: lavenderblush;
  font-family: "Ink Free";
  font-size: larger;
  height: 100px;
  width: 100px;
}
.what-rolled {
  color: aquamarine;
}
.remaining {
  color: lavenderblush;
}

.moved {
  color: azure;
}

.rolls-count {
  color: honeydew;
}

.message {
  color: seashell;
}

.refresh{
  background-color: lavender;
  border: lavenderblush;
  font-family: "Ink Free";
  height: 30px;
  width: 100px;

}
